/*Reset*/

body, h1, h2, ul, li, p, a{
    padding:0px;
    margin:0px;
}

a{
    display: block;
    text-decoration:none;
}

img{
    display: block;
    max-width:100%;
}

ul{
    list-style:none;
}

*{
    box-sizing: border-box;
}

h1, h2{
    font-family: 'Quicksand', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
}

.todas_as_sessoes{
    padding:80px 10px 60px 10px;
    max-width:1000px;
    margin:0 auto;
}

.titulo_sessao{
    font-size:30px;
    padding-bottom:60px;
    font-weight:700;
}

@media (min-width:628px){
    .todas_as_sessoes{
        max-width: 628px;
    }
}

@media (min-width:1000px){
    .todas_as_sessoes{
        max-width: 1000px;
    }
}