#infos_projeto{
    display: grid;
    grid-template-areas: 
    "titulo"
    "tags"
    "ano"
    "descricao";
}

#nome_projeto{
    grid-area:titulo;
    align-self: end;
    margin-bottom: 13px;
}

#tags_projeto{
    grid-area:tags;
}

#ano_projeto{
    grid-area:ano;
}

#descricao_projeto{
    grid-area:descricao;
    margin-top: 20px;
    max-width: 490px;
}

@media (min-width:628px){
    #infos_projeto{
        grid-template-areas:
        "titulo titulo ano"
        "descricao descricao tags";
        grid-template-columns:repeat(2fr) 30px;
        row-gap: 40px;
        column-gap: 40px;
    }

    #nome_projeto{
        margin-bottom: 0px;
    }

    #tags_projeto{
        justify-content: flex-end;
        align-self: start;
    }

    #ano_projeto{
        align-self: end;
        justify-self: end;
        
        font-size: 20px;
        font-weight:400;
    }

    #descricao_projeto{
        margin:0px;
    }
}

#apresentacao_projeto{
    margin-top: 60px;
}

#apresentacao_projeto li{
    cursor: pointer;
}