#contatos{
    background:#025959;
}

#contatos>h1 {
    grid-column: 2;
    color: #FFF9F1;
}

#infos_contatos {
    grid-column: 2;
}

#infos_contatos>h2{
    color: #FFF9F1;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}

#infos_contatos>ul>li>img{
    width:32px;
    height:32px;
}

#infos_contatos>ul>li>span{
    display: flex;
    width:100%;
    align-items: center;
}

#infos_contatos>ul>li>span>a{
    color:#F29727;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 400;
    display: flex;
    flex-grow:1;
    flex-shrink:0;
    padding: 5px 0;
}

#infos_contatos>ul>li{
    display: flex;
}

#infos_contatos>ul>li+li{
    margin-top: 20px;
}

#infos_contatos>ul>li>span:before{
    content:'';
    display: block;
    background:#018888;
    width:1px;
    height: 100%;
    margin: 0 15px;
}

#infos_contatos>ul>li>span:after{
    content:'';
    display: block;
    background:#018888;
    flex-grow:1;
    width:100%;
    height: 1px;
    margin-left: 15px;
}