#img_e_txt{
    display: flex;
    flex-direction: column;
}

#img_e_txt>img{
    margin: 0 auto;
}

#txt_sobre_maji{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color:#013A40;
    margin-top: 40px;
}

@media (min-width:628px){
    #img_e_txt>img{
        width:400px;
    }
}

@media (min-width:1200px){
    #img_e_txt{
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
    }

    #txt_sobre_maji{
        max-width:485px;
        margin-top: 0px;
    }
}