#inicio {
    background: url('../../imgs/pag-principal/inicio/mobile_bg_inicio.jpg') no-repeat center;
    background-size: cover;
    padding-top: 190px;
    height: 649px;
}

#logo_inicio {
    margin: 0 auto;
}

#txt_inicio {
    margin: 60px auto 0 auto;
    text-align: center;
    max-width: 345px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
    line-height: 25px;
}

@media (min-width: 400px) {
    #inicio {
        background: url('../../imgs/pag-principal/inicio/tablet_bg_inicio.jpg') no-repeat center;
        background-size: cover;
    }
}

@media (min-width: 550px) {
    #txt_inicio {
        max-width: 430px;
    }
}

@media (min-width:1000px) {
    #inicio {
        background: url(../../imgs/pag-principal/inicio/desktop_bg_inicio.jpg) no-repeat center;
        background-size: cover;
        padding-top: 200px;
    }
}