#menu_principal{
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  padding:6px 10px 0px 10px;
  z-index: 1500;
}

#logo{
  grid-column: 1 / -1;
  grid-row:1;
  width: 60px;
  margin: 0 auto;
  position: relative;
  z-index: 1000;
  top:-800px;
}

#separador_menu{
  display: block;
  height: 1px;
  background: #04BFBF;
  grid-column:1 / -1;
  grid-row: 2;
  margin-top: 6px;
  position: relative;
  z-index: 1000;
  top:-800px;
}

@keyframes mostrarElementosMenu {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

#separador_menu.mostrarElementosMenu, #logo.mostrarElementosMenu {
  top: 0px;
  animation: mostrarElementosMenu 0.3s forwards;
}

#menu_nav{
  position: absolute;
  z-index: 900;
  background: #013a40;
  width: 100%;
  text-align: center;
  padding: 51px 0 20px 0;
  right:-1000px;
  top: 0px;
}

#menu_nav ul{
  width: 250px;
  margin: 0 auto;
}

#menu_nav ul li + li{
  margin-top: 15px;
}

#menu_nav ul li:after {
  content: '';
  display: block;
  width: 50px;
  height: 1px;
  background: #04BFBF;
  margin: 14px auto 0 auto;
}

#menu_nav ul li:last-child:after {
  display: none;
}

#menu_nav ul li a {
  font-family: 'Quicksand', sans-serif;
  color: #FFF9F1;
  font-size: 20px;
  padding: 5px 0px;
  font-weight: 400;
  transition: all 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: center;
}

#mobile_icon_menu {
  display: block;
  width: 26px;
  height: 26px;
  color: #04BFBF;
  border-top: 1px solid currentColor;
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  right:10px;
  top:10px;
}

#mobile_icon_menu::before,
#mobile_icon_menu::after {
  content: "";
  display: block;
  height: 1px;
  margin-top: 8px;
  background: currentColor;
  position: relative;
  transition: transform 0.3s ease;
}

#mobile_icon_menu.transformarIcone {
  border-top-color: transparent;
}

#mobile_icon_menu.transformarIcone::before {
  margin-top: 0px;
  top: 8px;
  transform: rotate(45deg);
}

#mobile_icon_menu.transformarIcone::after {
  margin-top: 0px;
  top: 7px;
  transform: rotate(135deg);
}

@keyframes mostrar {
  from {
    opacity: 0;
    transform: translate3d(30px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

#menu_nav.mostrarItensMenu {
  right: 0px;
  animation: mostrar 0.3s forwards;
}

@media (min-width:628px){
  #mobile_icon_menu{
    display: none;
  }

  #menu_principal{
    padding-left: 30px;
    padding-right: 30px;
  }

  #logo{
    grid-column:1;
    margin: 0 0 0 10px;
  }

  #menu_nav{
    position: static;
    grid-column:1 / -1;
    grid-row: 1;
    background: transparent;
    padding: 0;
    width: auto;
  }

  #menu_nav ul{
    width: auto;
    display: flex;
    margin: 0px;
    justify-content: center;
  }

  #menu_nav ul li:after {
    display: none;
  }

  #menu_nav ul li + li{
    margin-top:0px;
    margin-left: 10px;
  }

  #menu_nav ul li a {
    font-size: 16px;
  }
}

@media (min-width:1000px){
  #menu_principal{
    padding-left: 183px;
    padding-right: 183px;
  }

  #menu_nav ul li + li{
    margin-top:0px;
    margin-left: 15px;
  }
}

#menu_nav ul li a::before{
  content: '';
  display: block;
  width:6px;
  height:6px;
  border-radius: 50%;
  background: transparent;
  margin-right: 10px;
  transition: .3s;
}

#menu_nav ul li a::after{
  content: '';
  display: block;
  width:6px;
  height:6px;
  border-radius: 50%;
  background: transparent;
  margin-left: 10px;
  transition: .3s;
}

#menu_nav ul li a.destacar::before,
#menu_nav ul li a.destacar::after{
  background:#FFF9F1;
}

@media (min-width:628px){
  #menu_nav ul li a.destacar::before,
  #menu_nav ul li a.destacar::after{
    background: #025959;
  }
}