#cabecalho_portfolio {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 40px;
}

@media (min-width:628px){
    #cabecalho_portfolio{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width:1000px){
    #cabecalho_portfolio{
        padding-left: 183px;
        padding-right: 183px;
    }
}

.infos_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

#ver_mais {
    display: flex;
    margin-top: 8px;
}

#ver_mais>h2 {
    margin-top: 2px;
    margin-right: 2px;
}

/*Slide*/

#slide_wrapper {
    overflow: hidden;
}

#slide_lista {
    display: flex;
    padding-top: 20px;
}

#slide_lista:hover{
    will-change: transform;
}

.slide_item {
    flex-shrink: 0;
    max-width: 260px;
    margin: 0 5px;
    user-select: none;

    opacity: .4;
    transform: scale(.8);
    transition: .4s;
}

.slide_item>img {
    border-radius: 9px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}

.slide_item.slideDestacado{
    opacity: 1;
    transform: scale(1);
}

[data-control="slide"]{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

[data-control="slide"] li a{
    display: block;
    width:9px;
    height:9px;
    transform: scale(.8);
    background: #04BFBF;
    border-radius:50%;
    overflow: hidden;
    text-indent: -999px;
    margin:0 5px;
    transition: .4s;
}

[data-control="slide"] li a:hover{
    background: #013A40;
}

[data-control="slide"] li.destacado a{
    background: #013A40;
    transform: scale(1);
}

.arrow_nav{
    display: none;
}