#rodape{
    padding: 25px 0;
    background:#013A40;
}

#rodape>img{
    cursor: pointer;
}

#rodape>img, #rodape>p{
    grid-column:1/-1 ;
    margin:0 auto;
}

#rodape>p{
    color:#04BFBF;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 15px;
}