#servicos>ul{
    margin-top: 40px;
}

#servicos>ul>li>img {
    border-radius: 9px;
    -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#servicos>ul>li>h2 {
    margin-top: 20px;
    text-align: center;
}

#servicos>ul>li>p {
    margin: 10px auto 10px auto;
    max-width: 307px;

    text-align: center;
}

@media (min-width:628px) {
    #servicos>ul li:last-child {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width:1130px) {
    #servicos>ul li:nth-last-child(-n + 2) {
        margin-left: auto;
        margin-right: auto;
    }
}