#servicos > ul{
    display: flex;
    flex-wrap: wrap;
}

.item_servicos{
    max-width: 100%;
}

.item_servicos + .item_servicos{
    margin-top: 40px;
}

.item_servicos>img {
    border-radius: 9px;
    -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.item_servicos>h2 {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: #013A40;
}

.item_servicos>p {
    margin: 10px auto 10px auto;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    max-width: 307px;
    color: #013A40;
}

@media (min-width:628px){
    #servicos > ul{
        justify-content: space-between;
    }

    .item_servicos{
        max-width: 270px;
    }

    .item_servicos:nth-child(2) {
        margin-top:0px;
    }

    #servicos > ul li:last-child{
        margin: 40px auto 0 auto;
    }
}

@media (min-width:670px){
    .item_servicos{
        max-width: 290px;
    }
}

@media (min-width:720px){
    .item_servicos{
        max-width: 310px;
    }
}

@media (min-width:740px){
    .item_servicos{
        max-width: 320px;
    }
}

@media (min-width:760px){
    .item_servicos{
        max-width: 330px;
    }
}

@media (min-width:780px){
    .item_servicos{
        max-width: 340px;
    }
}

@media (min-width:790px){
    .item_servicos{
        max-width: 350px;
    }
}

@media (min-width:810px){
    .item_servicos{
        max-width: 360px;
    }
}

@media (min-width:830px){
    .item_servicos{
        max-width: 370px;
    }
}

@media (min-width:860px){
    .item_servicos{
        max-width: 380px;
    }
}

@media (min-width:860px){
    .item_servicos{
        max-width: 380px;
    }
}

@media (min-width:880px){
    .item_servicos{
        max-width: 390px;
    }
}

@media (min-width:900px){
    .item_servicos{
        max-width: 400px;
    }
}

@media (min-width:910px){
    .item_servicos{
        max-width: 410px;
    }
}

@media (min-width:930px){
    .item_servicos{
        max-width: 420px;
    }
}

@media (min-width:950px){
    .item_servicos{
        max-width: 430px;
    }
}

@media (min-width:970px){
    .item_servicos{
        max-width: 440px;
    }
}

@media (min-width:990px){
    .item_servicos{
        max-width: 450px;
    }
}

@media (min-width:1000px){
    .item_servicos{
        max-width: 300px;
    }
}

@media (min-width:1030px){
    .item_servicos{
        max-width: 315px;
    }
}

@media (min-width:1060px){
    .item_servicos{
        max-width: 330px;
    }
}

@media (min-width:1090px){
    .item_servicos{
        max-width: 340px;
    }
}

@media (min-width:1115px){
    .item_servicos{
        max-width: 350px;
    }
}

@media (min-width:1130px){
    .item_servicos{
        max-width: 240px;
    }

    .item_servicos:nth-child(3) {
        margin-top: 0px;
    }

    .item_servicos:nth-child(n+4) {
        margin: 40px auto 0 auto;
    }
}

@media (min-width: 1140px){
    .item_servicos{
        max-width: 245px;
    }
}

@media (min-width: 1200px){
    .item_servicos{
        max-width: 260px;
    }
}

@media (min-width: 1260px){
    .item_servicos{
        max-width: 280px;
    }
}

@media (min-width: 1310px){
    .item_servicos{
        max-width: 300px;
    }
}