#lista_portfolio{
    margin-top: 40px;
}

#lista_portfolio>li>a>img {
    border-radius: 9px;
    -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#lista_portfolio>li>div {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lista_portfolio>li>div>a {
    display: flex;
    align-items: center;
}

#lista_portfolio li h2 {
    margin-top: 15px;

    color: #013A40;
}

#lista_portfolio li p {
    margin-top: 20px;
}

@media (min-width:628px) {
    #lista_portfolio li:nth-child(3) {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width:1130px) {
    #lista_portfolio li:nth-child(3) {
        margin-left: 0px;
        margin-right: 0px;
    }
}